<%- include('includes/head', {pageTitle: 'mypage' }) %>
    <link rel="stylesheet" href="/styles/regist.css">
    </head>

    <body>
        <header>
            <%- include('includes/header') %>
        </header>
        <section>
            <h2>My Page</h2>
            <form method="post" action="/mypage-edit">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name"
                        value="<%= inputData.name %>" required>
                    <label for="floatingInput">이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Id" name="id"
                        value="<%= inputData.id %>" required>
                    <label for="floatingInput">아이디</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="password"  minlength="6" required>
                    <label for="floatingPassword">비밀번호</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                        name="confirmPassword" minlength="6" required>
                    <label for="floatingPassword">비밀번호 재입력</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                        name="email" value="<%= inputData.email %>" required>
                    <label for="floatingInput">이메일</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="010-1234-5678"
                        name="phoneNumber" value="<%= inputData.phonenumber %>" required>
                    <label for="floatingInput">전화번호</label>
                </div>
                <% if (inputData.errorMessage) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= inputData.errorMessage %>
                    </div>
                    <% } %>
                        <hr style="margin: 2rem 0;" />
                        <div id="reserv-btn" class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-secondary">회원정보 수정</button>
                        </div>
            </form>
        </section>
    </body>

    </html>